
body {
    background: black;
}

.hello {
font-family: Permanent Marker;
}

.moon {
    font-family: Amatic SC;
    color: #3FEFE5;
}

.media-container {
    color: #3FEFE5;
}

.landing .hello {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid  #3FEFE5; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .10em; /* Adjust as needed */
    animation: 
      typing 6.5s steps(40, end),
      blink-caret .95s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #3FEFE5; }
  }
  